doctype html
html
  head
    title Пользователи
  body
    h1 Список пользователей
    each user in users
      div
        strong #{user.id}. #{user.name} 
        | (#{user.email})
        a(href=`/users/edit/${user.id}`) [Редактировать]
        form(action=`/users/delete/${user.id}` method="POST" style="display:inline")
          button(type="submit" onclick="return confirm('Удалить?')") Удалить
    br
    a(href="/users/create") Создать пользователя